{% extends "base.html" %}
{% load tag_course %}

{% block content %}
  <div class="row">
    <hr>
      <div>
        <h3>
          Top 5 popular courses
        </h3> 
      </div>
    <hr>
  </div>
<hr>
<div class="row">
      {% course_by_rating %}
  </div>
  <hr>
  <div class="row">
    <hr>
      <h3>
        All courses 
      </h3> 
    <hr>
  </div>
  <hr>
  <div class="row">
    {% include 'includes/course_list.html' %}
  </div>
  {% include 'includes/paginator.html' %}

{% endblock %}
